body {
	margin: 0;
}

.upperbox {
	background-color: white;
	padding: 25px;
	height: 100px;
	border-bottom: 3px solid black;
	text-align: center;
}

.lowerbox {
	background-color: white;
	padding: 25px;
	height: 100px;
	text-align: center;
}

.click {
	text-align: center;
	padding-top: 100px;
}

.btn1 {
	margin-right: 100px;
	padding: 20px 50px;
}

.btn2 {
	padding: 20px 50px;
}